!!!
%html
  %head
    %title Fête de la Musique 2016 à Strasbourg
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{property: "og:title", content: "Fête de la Musique 2016 à Strasbourg"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:description", content: "Liste des concerts officiels (et les autres) de la Fête de la Musique 2016 à Strasbourg"}
    %meta{property: "og:image", content: asset_url("fb.png")}
    = stylesheet_link_tag    "application", media: "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic"
    = favicon_link_tag
    = csrf_meta_tags
  %body{class: controller.controller_name == "venues" && controller.action_name == "index" && "homepage"}
    %nav
      = link_to "/", class: "logo" do
        = image_tag "logo_fete_de_la_musique.png", class: "hidden-xs"
        = image_tag "logo_fete_de_la_musique_mini.png", class: "visible-xs"
      = link_to "#", class: "marker" do
        %span.fa.fa-map-marker
      = link_to new_concert_path, class: "add", target: "_blank" do
        %span.fa.fa-plus
    = yield
    - api_key = "AIzaSyDr7frVgm9VD5UvDnphSR3juK6G8JtiWNk"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{api_key}&sensor=false&libraries=places"
    = javascript_include_tag "application"
    = yield :extra_js
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-8099417-2', 'fetedelamusique-strasbourg.eu');
      ga('send', 'pageview');
