!!!
%html
  %head
    %title Fête de la Musique 2013 à Strasbourg
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    - api_key = "AIzaSyDr7frVgm9VD5UvDnphSR3juK6G8JtiWNk"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{api_key}&sensor=false"
    = csrf_meta_tags
  %body
    %nav
      = link_to "/" do
        = image_tag "logo_fete_de_la_musique.jpg"
    = yield
